<%= content_for(:title,  '账户钱包 | TopTrader') %>
<section class="content-header">
  <h1>
    账户钱包 <small>信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-exchange"></i> 账户钱包</li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <h3>资产估值 ≈ <i class="fa fa-usd"></i><%= @balances.map(&:usd_value).sum.round(2) %></h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
              <tr>
                <th tabindex="0" aria-controls="example1" style="text-align: center">ACCOUNT</th>
                <th tabindex="0" aria-controls="example1" style="text-align: center">COINS</th>
                <th tabindex="0" aria-controls="example1" style="text-align: center">TOTAL</th>
                <th tabindex="0" aria-controls="example1" style="text-align: center">ESTIMATED</th>
              </tr>
            </thead>
            <tbody>
            <% @balances.each do |item| %>
              <tr style="text-align: left">
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px">
                    <%= item.account %>
                  </label>
                </td>
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px;min-width: 100px">
                    <i class="fa fa-btc"></i>&nbsp;&nbsp;<%= item.coin %>
                  </label>
                </td>
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px;min-width: 100px">
                    <%= item.total %>
                  </label>
                </td>
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px;min-width: 100px">
                    <i class="fa fa-usd"></i>&nbsp;&nbsp;<%= item.usd_value %>
                  </label>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>